<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h2 id="page-heading">
                <span ><%= entityTitlePlural %></span>
                <button id="create-entity" class="btn btn-primary float-right create-student" [routerLink]="['/student/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span  >
            Create new <%= entityTitleSingular %>
            </span>
                </button>
            </h2>
            <br/>
            <div class="alert alert-warning" *ngIf="<%= entityArrayVariableName %>?.length === 0">
                <span>No <%= entityArrayVariableName %> found</span>
            </div>
            <div class="table-responsive" *ngIf="<%= entityArrayVariableName %>?.length > 0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span>ID</span></th>
                        <th><span>Student Name</span></th>
                        <th><span>Roll Number</span></th>
                        <th><span>Age</span></th>
                        <th><span>Created At</span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let <%= entitySingleVariableName %> of <%= entityArrayVariableName %> ;trackBy: trackId">
                        <td><a [routerLink]="['/<%= entitySingleVariableName %> ', <%= entitySingleVariableName %> .id, 'view' ]">{{<%= entitySingleVariableName %> .id}}</a></td>
                        <td>{{<%= entitySingleVariableName %>.studentName}}</td>
                        <td>{{<%= entitySingleVariableName %>.rollNumber}}</td>
                        <td>{{<%= entitySingleVariableName %>.age}}</td>
                        <td>{{<%= entitySingleVariableName %>.createdAt | date:'medium'}}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/<%= entitySingleVariableName %> ', <%= entitySingleVariableName %>.id, 'view' ]"
                                        class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline">View</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/<%= entitySingleVariableName %> ', <%= entitySingleVariableName %>.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', '<%= entitySingleVariableName %>', { outlets: { popup: <%= entitySingleVariableName %>.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
